@inject IProductService ProductService

<ul class="list-unstyled">
    @foreach(var product in CategoryId == null? ProductService.Products : ProductService.Products.Where(p => p.CategoryId == CategoryId))
    {
        <li class="media my-3" style="border-bottom: solid 0.4px #d9d9d9; padding-bottom: 2.5%; padding-top:2%;">
            <div class="media-img-wrapper mr-2" style=" margin-left: 2%;">
                <a href="/product/@product.Id">
                    <img class="media-img" src="@product.Image" alt="@product.Title" style="max-width:190px;"/>
                </a>
            </div>
            <div class="media-body" style="padding-right:5%;">
                <a href="/product/@product.Id">
                    <h4 class="mb-0">@product.Title</h4>
                </a>
                <p>@product.Description</p>
                @if(product.OriginalPrice > product.Price)
                {
                    <h6 class="text-muted original-price">@product.OriginalPrice €</h6> 
                }
                <h5 class="price">
                    @product.Price €
                </h5>
            </div>
        </li>
    }
</ul>


@code { 
    [Parameter]
    public int? CategoryId { get; set; } = null;

    protected override void OnInitialized()
    {
        ProductService.LoadProducts();
    }
}
