@page "/create"
@using ZShop.Shared.ProductModels
@inject IProductService ProductService
@inject ICategoryService CategoryService
@inject IVariantService VariantService
@inject NavigationManager NavigationManager
@implements IDisposable

@attribute [Authorize(Roles = "Admin")]

<h3 class="card-title">Add new product</h3>

<EditForm Model="@newProduct" OnValidSubmit="HandleValidSubmit">
    <div class="form-group">
        <label for="title">Title</label>
        <InputText Class="form-control" style="width: 100%;" @bind-Value="newProduct.Title" />
        <ValidationMessage For="@(() => newProduct.Title)" />
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <InputTextArea Class="form-control" @bind-Value="newProduct.Description" />
        <ValidationMessage For="@(() => newProduct.Description)" />
    </div>
    <div class="form-group">
        <label for="Image">Image</label>
        <InputText Class="form-control" @bind-Value="newProduct.Image" />
    </div>
    <div class="form-group">
        <label for="Category">Category</label>
        <select @bind="@newProduct.CategoryId" class="form-control">
            @foreach (var category in CategoryService.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>

    <VariantOptions ProductVariants="@newProduct.Variants" />

    <button type="submit" class="btn btn-success">Create</button>
</EditForm>


@code {
    private ProductAddModel newProduct = new ProductAddModel();

    private async Task HandleValidSubmit()
    {
        newProduct.Variants = VariantService.GetSelectedVariants();
        var response = await ProductService.AddProduct(newProduct);
        if (response.Success)
        {
            NavigationManager.NavigateTo($"/product/{response.Id}");
        }
    }

    protected override void OnInitialized()
    {
        VariantService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        VariantService.OnChange -= StateHasChanged;
    }
}
