@page "/edit/{id:int}"
@inject IProductService ProductService
@inject ICategoryService CategoryService
@inject IVariantService VariantService
@inject NavigationManager NavigationManager
@using ZShop.Shared.ProductModels

@implements IDisposable

@attribute [Authorize(Roles = "Admin")]


@if (productEditModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Editing - @product.Title</h5>
            <EditForm Model="@productEditModel" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />

                <div class="form-group">
                    <label for="title">Title</label>
                    <InputText style="width: 100%;" @bind-Value="productEditModel.Title" />
                    <ValidationMessage For="@(() => productEditModel.Title)" />
                </div>
                <div class="form-group">
                    <label for="Description">Description</label>
                    <InputTextArea Class="form-control" @bind-Value="productEditModel.Description" rows="7" />
                    <ValidationMessage For="@(() => productEditModel.Description)" />
                </div>
                <div class="form-group">
                    <label for="Image">Image</label>
                    <InputText Class="form-control" @bind-Value="productEditModel.Image" />
                </div>
                <div class="form-group">
                    <label for="Category">Category</label>
                    <select @bind="@productEditModel.CategoryId" class="form-control">
                        @foreach (var category in CategoryService.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </div>
                <hr />
                <VariantOptions ProductVariants="@productEditModel.Variants" />


                <button type="submit" class="btn btn-success">Save</button>
            </EditForm>
        </div>
    </div>
}


@code {
    [Parameter]
    public int Id { get; set; }
    private Product product = new Product();
    private ProductEditModel productEditModel;

    protected override async Task OnParametersSetAsync()
    {
        product = await ProductService.GetProduct(Id);

        productEditModel = new ProductEditModel
        {
            Title = product.Title,
            Description = product.Description,
            Category = product.Category,
            CategoryId = product.CategoryId,
            Id = product.Id,
            Variants = product.Variants,
            Image = product.Image
        };
    }

    private async Task HandleValidSubmit()
    {
        productEditModel.Variants = VariantService.GetSelectedVariants();
        var response = await ProductService.EditProduct(productEditModel);
        if (response.Success)
        {
            NavigationManager.NavigateTo($"/product/{Id}");
        }
    }

    protected override void OnInitialized()
    {
        VariantService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        VariantService.OnChange -= StateHasChanged;
    }
}
